#header{
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    color: black;
}
#header img{
    height: 80px;
}
#header{
    .upper li{
        padding-right: 20px;
        text-align: right;
        
    }
    .upper li a{
        margin-right: 20px;
    }
    
    nav:after {
        content: "";
        display: table;
        clear: both;
    }
    
    nav ul {
        float: right;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    }
    
    nav ul li {
        /* margin: 0px; */
        display: inline-block;
        float: left;
        background-color: white;
        
    }
    
    nav a {
        display: block;
        padding: 0 20px;
        /* font-size: 20px; */
        line-height: 60px;
        text-decoration: none;
    }
    
    nav ul li ul li:hover {
        /* background: #000000; */
    }
    
    a:hover {
        color:#f15b29;
        cursor: pointer;
    }
    a{
        font-weight: 600;
    }
    nav ul ul {
        display: none;
        position: absolute;
        top: 60px;
    }
    
    nav ul li:hover>ul {
        display: inherit;
    }
    
    nav ul ul li {
        width: 250px;
        float: none;
        display: list-item;
        position: relative;
    }
    
    nav ul ul ul li {
        position: relative;
        top: -60px;
        left: 250px;
    }
    
    /* li>a:after {
        content: ' +';
    } */
    .toggle{
        font-weight: 600;
    }
    .toggle,
    [id^=drop] {
        display: none;
    }
    
    li>a:only-child:after {
        content: '';
    }
    
    /*Responsive Styles*/
    @media all and (max-width : 925px) {
    
        nav {
            margin: 0;
        }
        .toggle:hover{
            color: #f15b29;
            cursor: pointer;
        }
    
        .toggle+a,
        .menu {
            display: none;
        }
    
        .toggle {
            display: block;
            /* background-color: #254441; */
            padding: 0 20px;
            /* color: #FFF; */
            /* font-size: 20px; */
            line-height: 60px;
            text-decoration: none;
            border: none;
        }
    
        .toggle:hover {
            /* background-color: #000000; */
        }
    
        [id^=drop]:checked+ul {
            display: block;
        }
    
        nav ul li {
            display: block;
            width: 100%;
        }
    
        nav ul ul .toggle,
    
        nav ul ul a {
            padding: 0 40px;
        }
    
        nav ul ul ul a {
            padding: 0 80px;
        }
    
       
    
       
    
        nav ul ul {
            float: none;
            position: static;
            /* color: #ffffff; */
        }
    
        nav ul ul li:hover>ul,
    
        nav ul li:hover>ul {
            display: none;
        }
    
        nav ul ul li {
            display: block;
            width: 100%;
        }
    
        nav ul ul ul li {
            position: static;
        }
    }
    
    @media all and (max-width : 330px) {
        nav ul li {
            display: block;
            width: 94%;
        }
    }
}

